body{
    background: black;
}
#menu{
	display: grid;
	grid-template-rows:25vh 20vh repeat(3,10vh) 25vh;
	background: url("../Images/miami.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#menu .logo{
    width: 600px;
    height: 600px;
    margin: auto;
}
.name{
    width: 400px;
    height: 50px;
    margin-top: auto;
    margin-left: auto;
}
.start_game{
    width: 400px;
    height: 50px;
    margin-top: auto;
    margin-left: auto;
}
.settings{
    width: 400px;
    height: 50px;
    margin-left: auto;
    
}
.btn {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-top: 400px;
    margin-bottom: -450px;
    flex-direction: column;
  }